<div class="span3">
                    <div id="ourphilo_menus" class="">
                        <p><a href="#">Our Philosophy</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">About Us</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><%= link_to 'Voice of Customers', voice_of_customers_path %></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">Know Our Sages</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><%= link_to 'Why SupportSages',whysupportsages_path %></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">SuportSages Blog</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><%= link_to 'Contact Us',contact_us_path %></p>
                        <p><a href="#"></a></p>
                        <div class="ourphilo_menus_border"></div>
                    </div>
</div>