<div class="span3">
                    <div id="ourphilo_menus" class="">
                        <p><a href="#">Our Philosophy</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">About Us</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">Voice of Customers</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">Know Our Sages</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">Why SupportSages</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">SuportSages Blog</a></p>
                        <div class="ourphilo_menus_border"></div>
                        <p><a href="#">Contact Us</a></p>
                        <div class="ourphilo_menus_border"></div>
                    </div>
</div>