<div class="container-fluid">
        <div class="container">
            <div class="row">
                <%= render :partial => 'side_menu' %>
                <div class="span9">
                    <div>
                        <div class="row"><h3>Voice of Customers</h3></div>
                        <div class="row voice_of_cust_qoutes">
                            <div id="voice_of_cust_left">
                                <%= image_tag('store/left_qoute.png',alt:'voice_of_cust_left')%></div>
                            <p>
                            I appreciate your help. You guys definitely know your .....It is nice to keep you 
                            around if i ever run into problems. i'll hire you<br />
                            <span>- Adam</span>
                            </p><br />
                            <div id="voice_of_cust_right"><img alt="voice_of_cust_right" src="images/right_qoute.png" /></div>
                        </div>
                        <div class="row voice_of_cust_qoutes">
                            <div id="voice_of_cust_left"><img alt="voice_of_cust_left" src="images/left_qoute.png" /></div>
                            <p>
                            They work perfect!!! You guys are the best! I will happily send some more money for 
                            the extra coding there if you can send me your paypal email one more time. Thanks again!<br />
                            <span>- Lorne</span>
                            </p><br />
                            <div id="voice_of_cust_right"><img alt="voice_of_cust_right" src="images/right_qoute.png" /></div>
                        </div>
                        <div class="row voice_of_cust_qoutes">
                            <div id="voice_of_cust_left"><img alt="voice_of_cust_left" src="images/left_qoute.png" /></div>
                            <p>
                            I'm not gonna lie. That's the most beautiful thing I've ever seen. I honestly feel like 
                            I should pay you more :) Awesome, you rock<br />
                            <span>- Over IM</span>
                            </p><br />
                            <div id="voice_of_cust_right"><img alt="voice_of_cust_right" src="images/right_qoute.png" /></div>
                        </div>
                        <div class="row voice_of_cust_qoutes">
                            <div id="voice_of_cust_left"><img alt="voice_of_cust_left" src="images/left_qoute.png" /></div>
                            <p>
                            Just to let you know, I highly recommend SupportSages; they are very flexible and 
                            knowledgeable, and they do their job right! The best company I've seen<br />
                            <span>- Shikhir</span>
                            </p><br />
                            <div id="voice_of_cust_right"><img alt="voice_of_cust_right" src="images/right_qoute.png" /></div>
                        </div>
                        <div class="row voice_of_cust_qoutes">
                            <div id="voice_of_cust_left"><img alt="voice_of_cust_left" src="images/left_qoute.png" /></div>
                            <p>
                             am currently a supportsages client and I must say they really are truly working 24/7. 
                             when my server goes down, they send me an email notification and if they dont hear 
                             response from me they will go ahead and fix the problem. Its so nice to know that 
                             i can sleep very well at night because someone manages my servers 24/7! I am really 
                             happy and satisfied<br /><br />
                            <span>- EMS Jones</span>
                            </p><br />
                            <div id="voice_of_cust_right"><img alt="voice_of_cust_right" src="images/right_qoute.png" /></div>
                        </div>
                        <div class="row voice_of_cust_qoutes">
                            <div id="voice_of_cust_left"><img alt="voice_of_cust_left" src="images/left_qoute.png" /></div>
                            <p>
                             I am just at one week with them and i must state a few things.<br /><br />
                             They were able to detect a costumer domain domain that was sending spam. They found it, 
                             they detect the script that was doing it, they remove it, identified how that script 
                             was upload, cleaned the queue and reported all to me.<br /><br />
                             I was amazed !.<br /><br />They also do linux, windows or game servers. I think 
                             they are very knowledgeble.<br /><br />They are allways online and if press them they 
                             solve the issues quite quick. For minor cases they take some more time.<br /><br />
                             I had to clarify some procedures but for the moment i am liking the service and recommend it.
                             <br /><br />By having packages that may cover all your servers even servers that usually 
                             don´t need so much support can be dealt with and kept in good shape.<br /><br />
                             I think they are in the sweet spot between multiple one server management and having a 
                             full time employee.<br /><br />If you go to them you would lihe their service.<br /><br />
                             Even their level 1 technician can solve hard issues.<br /><br />I hope that they have 
                             their systems all set but i hope that they stay at this service level. <br /> <br />
                            <span>- Paulo Santos</span>
                            </p><br />
                            <div id="voice_of_cust_right"><img alt="voice_of_cust_right" src="images/right_qoute.png" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="finalspace"></div>
        </div>
    </div>