    <div class="container-fluid">
        <div class="container">        
            <div class="row">
                <%= render partial: 'shared/product_filters' %>
                <%#= render partial: 'shared/product_list', :locals => {products: @products} %>
            </div><!--/row-->
            <div class="finalspace"></div>
        </div>
    </div>
