<h1 class="taxon-title"><%#= accurate_title %></h1>

<%# content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%#= render :partial => 'spree/shared/taxonomies' if @taxon.children.empty? %>
    <%#= render :partial => 'spree/shared/filters' %>
  </div>
<%# end %>

<div data-hook="taxon_products">
  <%#= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>

<%# unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <%#= render :partial => 'taxon', :collection => @taxon.children %>
  </div>
<%# end %>
    <div class="container-fluid">
        <div class="container">        
            <div class="row">
                <%= render partial: 'shared/product_filters' %>
                <%= render partial: 'shared/helpdesk_desc' %>
            </div><!--/row-->
            <div class="finalspace"></div>
        </div>
    </div>

