    <div class="container-fluid below_nav_bg">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="below_nav_h"><p id="contactus"><%= yield(:center_header) %></p></div>
                </div>
            </div>
        </div>
    </div>