    <div class="container-fluid otherfooterbg">
        <div class="container">
            <div class="row">
                <div id="footer_navigation">
                    <div class="span12">
                        <ul class="nav nav-pills">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Advanced Search</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Get a Quote</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a id="sitemap" href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div>
                    <p id="copyright" class="c12 left">
                        CopyRight © 2012 <a href="#">SupportSages</a>. 
                        All Rights Reserved. All trademarks are property of their respective holders.
                    </p>
                </div>  
            </div>
        </div>
    </div>