<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome Mister</h1>
    <p>
      Hey Mr/Mrs, <%= @subscription.email %>, Your last date of renewal of the product <%= @subscription.magazine.name %> is only 7 days ahead
    </p>
  </body>
</html>
