<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome Myself</h1>
    <p>
      Congradulation Aji, you've successfully delivered mail with help of cron jobs
    </p>
  </body>
</html>
